* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #111;
}

/* HEADER */

header {
    background: #111;
    color: white;
    text-align: center;
    padding: 25px 15px;
    border-bottom: 5px solid #e00000;
}

.logo {
    width: 90px;
    height: 90px;
    object-fit: contain;
    margin-bottom: 10px;
}

header h1 {
    color: #e00000;
    font-size: 32px;
    margin-bottom: 5px;
}

header p {
    color: #ddd;
    font-size: 15px;
}


/* MAIN */

main {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px 15px;
}


/* CARD */

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 18px;
    border-top: 4px solid #e00000;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.card h2 {
    font-size: 21px;
    margin-bottom: 20px;
    color: #111;
}


/* FORM */

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 7px;
}

input,
select,
textarea {
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    background: #fafafa;
    color: #111;
    outline: none;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #e00000;
    background: white;
}

textarea {
    min-height: 90px;
    resize: vertical;
}


/* BUTTON */

button {
    margin-top: 22px;
    padding: 15px;
    border: none;
    border-radius: 12px;
    background: #e00000;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #b80000;
}


/* ORDERS */

.order {
    background: #fafafa;
    border-left: 5px solid #e00000;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 12px;
}

.order h3 {
    color: #e00000;
    margin-bottom: 10px;
}

.order p {
    margin: 6px 0;
}

.empty {
    text-align: center;
    color: #888;
    padding: 20px;
}


/* MOBILE */

@media (max-width: 500px) {

    header {
        padding: 20px 10px;
    }

    .logo {
        width: 75px;
        height: 75px;
    }

    header h1 {
        font-size: 27px;
    }

    main {
        padding: 15px 10px;
    }

    .card {
        padding: 16px;
    }
}